.naglowek {
	text-align: center;
	color: white;
}

.linia1 {
	border-top: 5px solid black;
}

.klasa1 {
	border-style: dashed;
	background-color: rgb(0, 0, 0);
}

 .klasa1 p {
	color: white;
}

 .klasa2 p {
	color: white;
}

.klasa2 {
	text-align: center;
}

.gif1 {
	position: absolute;
	left: 750px;
	top: 860px;
}
	
.gif2{
	position: absolute;
	left: 850px;
	top: 1110px;
}

.gif3{
	position: absolute;
	left: 750px;
	top: 1360px;
}

.linia2 {
	border-top: 5px solid black;
}

.kolejnytekst {
	text-align: center;
	top: 1250px;
	border-style: dashed;
	background-color: rgb(0, 0, 0);
	color: white;
}

body {
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(61,61,61,1) 47%);
}

p {
	color: white;
}

.dzwiek {
	text-align: center;
}
